.login-container {
    background: #fff;
    header {
        height: .50rem;
        background: #df2d2d;
        font-size: .18rem;
        text-align: center;
        line-height: .44rem;
        color: #fff;
        position: relative;
        .back_ {
            height: 50.5px;
            width: 50.5px;
            line-height: 50.5px;
            /*       position: absolute;
            left: 0;
            top: 0; */
            .icon_left {
                background: blue;
            }
        }
        .head_ {
            text-align: center;
        }
    }
    .login {
        .nav {
            width: 100%;
            height: 40px;
        }
        .nav_wrap {
            display: -webkit-box;
            display: -ms-flexbox;
            padding-left: .2em;
            padding-right: .2em;
            position: relative;
            border-bottom: 4px solid #d6d6d6;
            height: 100%;
            align-items: center;
            justify-content: center;
            background: #fff;
            .nav_item {
                font-family: PingFangSC-Medium;
                font-size: 12.5px;
                display: block;
                text-align: center;
                -webkit-box-flex: 1;
                line-height: 36px;
                a {
                    /*         padding-top: 28px;
                    padding-bottom: 20px; */
                    color: #222222;
                }
            }
            .slide {
                position: absolute;
                bottom: -.08rem;
                border-bottom: .08rem solid #df2d2d;
            }
        }
    }
    .login_wrap {
        .login_inp_wrap {
            height: 85px;
            display: flex;
            flex-direction: column;
            background: #fff;
            .login_inp {
                height: 43.5px;
                padding: 14px 10px;
                input {
                    height: 30px;
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid #d6d6d6;
                }
            }
        }
        .register_inp_wrap {
            background: #fff;
            display: none;
            .register_inp_1 {
                height: 43.5px;
                padding: 14px 10px;
                display: flex;
                input {
                    height: 30px;
                    flex: 1;
                    border: 0;
                    border-bottom: 1px solid #d6d6d6;
                }
                button {
                    background: #fff;
                    height: 30px;
                    border: 1px solid #df2d2d;
                    border-radius: 3px;
                    padding: 0 15px;
                }
            }
            .register_inp {
                height: 43.5px;
                padding: 14px 10px;
                input {
                    height: 30px;
                    width: 100%;
                    border: 0;
                    border-bottom: 1px solid #d6d6d6;
                }
            }
        }
    }
    .btn_wrap {
        padding: 14px 10px;
        .lbtn {
            text-align: center;
            margin: 0;
            height: 30px;
            border-radius: 3px;
            color: #fff;
            background-color: #df2d2d;
            font-size: 14px;
            vertical-align: middle;
            line-height: 30px;
            box-sizing: border-box;
            cursor: pointer;
            button {
                height: 28px;
                background: #df2d2d;
                outline: none;
                border: 0;
                width: 355px;
                height: 30px;
            }
        }
    }
}

.tip_ {
    width: 100%;
    overflow: hidden;
    padding: 0px 10px;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FE8C00;
    .register {
        float: left;
    }
    .find {
        float: right;
    }
}

.phone {
    text-align: center;
    margin-top: 10px;
    a {
        color: #df2d2d;
        text-decoration: none;
        outline: 0;
    }
}