.login-container {
    background: #F3F3F3;
    .body {
        .header {
            background-color: #f03d37;
            background-image: url(/bs/file/?f=myfe/canary:static/deploy/dpmmweb/client/dpmmweb/component/mycenter/img/bg.png);
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100% 150px;
            height: 150px;
            overflow: hidden;
            text-align: center;
            img {
                display: inline-block;
                margin-top: 30px;
                width: 60px;
                height: 60px;
                border-radius: 60px;
                border: 3px solid #fff;
            }
        }
        .contain {
            -webkit-box-flex: 1;
            flex: 1;
            .group {
                margin-top: 10px;
                background: #fff;
                .mb-outline-tb {
                    background-size: 1px 1px;
                    .order {
                        padding: 0 15px;
                        position: relative;
                        overflow: hidden;
                        text-align: center;
                        .title {
                            position: relative;
                            margin: 13px 0 0;
                            font-size: 15px;
                            line-height: 21px;
                            height: 21px;
                            color: #333;
                            z-index: 9;
                            display: inline-block;
                            width: 80px;
                            background-color: #fff;
                            .title-line {
                                position: absolute;
                                top: 23px;
                                left: 50%;
                                margin-left: -80px;
                                width: 160px;
                                height: 1px;
                            }
                        }
                        .list-two {
                            .orderitems {
                                width: 50%;
                                float: left;
                                height: 97px;
                                background-repeat: no-repeat;
                                background-position: top;
                                background-size: 42px auto;
                                margin-top: 18px;
                            }
                            .movie {
                                float: left;
                                height: 97px;
                                background-repeat: no-repeat;
                                background-position: top;
                                background-size: 42px auto;
                                margin-top: 18px;
                                background-image: url(/bs/file/?f=myfe/canary:static/deploy/dpmmweb/client/dpmmweb/component/mycenter/img/movie.png);
                            }
                        }
                    }
                }
            }
            ul {
                li {
                    position: relative;
                    height: 44px;
                    line-height: 44px;
                    font-size: 15px;
                    margin-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

footer {
    height: .50rem;
    box-sizing: border-box;
    .bottom-nav-bar {
        height: .48rem;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #fff;
        border-top: .5px solid #d8d8d8;
        display: -webkit-box;
        display: flex;
        justify-content: space-around;
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
        span {
            display: block;
        }
        p {
            display: block;
            line-height: 12px;
            right: 0;
            font-size: 10px;
            color: #696969;
            padding-left: -5px;
        }
        .active {
            >* {
                color: #f03d37;
            }
        }
        .yo-ico {
            font-size: 22px;
        }
    }
}