.detail_contain .donload_app {
  position: relative;
  height: 64px;
  padding: 0 11px; }
  .detail_contain .donload_app img {
    position: absolute;
    left: 15px;
    top: 11px;
    width: 42px;
    height: 42px; }
  .detail_contain .donload_app .app_name {
    margin-left: 56px;
    font-size: 17px;
    color: #222;
    line-height: 23px;
    padding-top: 11px; }
  .detail_contain .donload_app .app_desc {
    font-size: 12px;
    color: #999;
    margin-left: 56px; }
  .detail_contain .donload_app a {
    position: absolute;
    right: 17px;
    top: 15px;
    width: 68px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #ef4238;
    border-radius: .06rem;
    font-size: 13px;
    color: #fff; }

.detail_contain #app .movie-page .movie-info {
  padding: 21px 16px; }
  .detail_contain #app .movie-page .movie-info .movie-info-top {
    overflow: hidden;
    display: flex;
    justify-content: flex-start; }
    .detail_contain #app .movie-page .movie-info .movie-info-top .movie-cover {
      float: left;
      width: 100px;
      height: 138px;
      position: relative; }
      .detail_contain #app .movie-page .movie-info .movie-info-top .movie-cover .poster-play {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 30px; }
    .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc {
      flex-grow: 1;
      margin-left: 12px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      overflow: hidden; }
      .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        flex-grow: 1;
        color: #b2b2b2; }
        .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-cn-name {
          color: #fff;
          font-size: 20px;
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-weight: 700; }
        .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-en-name {
          font-size: 12px;
          opacity: .6;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
        .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-type {
          display: flex; }
          .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-type .movie-cat {
            font-size: 12px;
            display: flex;
            align-items: center; }
          .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-type .movie-tag img {
            height: 14px; }
        .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .actors, .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-show-time {
          font-size: 12px;
          opacity: .6;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
      .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .btns {
        display: flex;
        justify-content: space-between; }
        .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .btns button {
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(255, 255, 255, 0.35);
          box-shadow: 0 0.02rem 0.08rem 0 rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          font-size: 14px;
          width: 47.61904762%;
          height: 30px;
          color: #fff; }
        .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .btns a {
          display: block;
          justify-content: center;
          align-items: center;
          background: rgba(255, 255, 255, 0.35);
          box-shadow: 0 0.02rem 0.08rem 0 rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          font-size: 14px;
          width: 47.61904762%;
          height: 30px;
          color: #fff;
          line-height: 30px;
          text-align: center; }
        .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .btns img {
          width: 14px;
          height: 14px; }
  .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.03);
    border-radius: 6px;
    margin-top: 15px;
    padding: 10px 12px; }
    .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff; }
      .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .top .left {
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .top .left img {
          width: .14px;
          height: 14px;
          margin-right: 4px; }
      .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .top .right {
        display: flex;
        align-items: center;
        font-size: 10px; }
        .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .top .right .num {
          font-size: 11px;
          margin-right: 4px; }
    .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .middle {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px 0;
      color: #fff; }
      .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .middle .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 2px; }
        .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .middle .left .score {
          font-size: 34px;
          color: #ffb400;
          line-height: 8px; }
        .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .middle .left .people-grade {
          opacity: .4;
          font-size: 1px;
          margin-top: 13px; }
      .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .middle .right .stars-percent-bar {
        display: flex;
        align-items: center; }
        .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .middle .right .stars-percent-bar .stars {
          justify-content: flex-end;
          width: 7px;
          display: flex;
          align-items: center; }
          .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .middle .right .stars-percent-bar .stars .img {
            height: 5px;
            width: 5px;
            margin-left: 5px; }
          .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .middle .right .stars-percent-bar .stars .noneBg {
            background: none; }
        .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .middle .right .stars-percent-bar .bar {
          width: 100px;
          height: 5px;
          background-color: rgba(255, 255, 255, 0.05);
          border-radius: 1px;
          margin-left: 6px;
          margin-right: 1px; }
          .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .middle .right .stars-percent-bar .bar .precent {
            height: 100%;
            width: 58%;
            background-color: #ffb400;
            border-radius: .02rem; }
        .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .middle .right .stars-percent-bar .precent {
          opacity: .4;
          font-size: 7px; }
    .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px; }
      .detail_contain #app .movie-page .movie-info .real-time-word-of-mouth .bottom .left {
        font-size: 12px;
        color: #ffe4a2;
        display: flex;
        justify-content: flex-start;
        align-items: center; }

.detail_contain #app .movie-page .brief-introduction {
  position: relative;
  padding: 16px 0 0; }
  .detail_contain #app .movie-page .brief-introduction .title {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .detail_contain #app .movie-page .brief-introduction .title span {
      color: #fff;
      font-size: 15px; }
  .detail_contain #app .movie-page .brief-introduction .height-limit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden; }
  .detail_contain #app .movie-page .brief-introduction .content {
    font-size: 15px;
    line-height: 26px;
    overflow: hidden;
    color: #fff; }
    .detail_contain #app .movie-page .brief-introduction .content .brief-introduction-content {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      word-wrap: break-word;
      word-break: break-all;
      overflow: hidden; }

.detail_contain #app .movie-page .actors, .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-show-time {
  margin: 18px 0 15px; }
  .detail_contain #app .movie-page .actors .title, .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-show-time .title {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .detail_contain #app .movie-page .actors .title span, .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-show-time .title span {
      color: #fff;
      font-size: 15px; }
    .detail_contain #app .movie-page .actors .title .img, .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-show-time .title .img {
      height: 5px;
      width: 5px;
      margin-left: 5px; }
    .detail_contain #app .movie-page .actors .title .noneBg, .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-show-time .title .noneBg {
      background: none; }
  .detail_contain #app .movie-page .actors .actor-list, .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-show-time .actor-list {
    margin-top: 11px; }
    .detail_contain #app .movie-page .actors .actor-list ul, .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-show-time .actor-list ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      overflow-x: scroll; }
      .detail_contain #app .movie-page .actors .actor-list ul li, .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-show-time .actor-list ul li {
        display: list-item; }
        .detail_contain #app .movie-page .actors .actor-list ul li a, .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-show-time .actor-list ul li a {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          width: 82px;
          color: #fff;
          font-size: 14px; }
          .detail_contain #app .movie-page .actors .actor-list ul li a img, .detail_contain #app .movie-page .movie-info .movie-info-top .movie-desc .movie-desc-top .movie-other-info .movie-show-time .actor-list ul li a img {
            width: 80px;
            height: 112px;
            display: block;
            background: none; }

.detail_contain #app .movie-page .videos-photos {
  margin: 18px 0 15px; }
  .detail_contain #app .movie-page .videos-photos .title {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .detail_contain #app .movie-page .videos-photos .title span {
      color: #fff;
      font-size: 15px; }
    .detail_contain #app .movie-page .videos-photos .title .img {
      height: 5px;
      width: 5px;
      margin-left: 5px; }
    .detail_contain #app .movie-page .videos-photos .title .noneBg {
      background: none; }
  .detail_contain #app .movie-page .videos-photos .videos-photos-list ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll; }
    .detail_contain #app .movie-page .videos-photos .videos-photos-list ul .vidio {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      .detail_contain #app .movie-page .videos-photos .videos-photos-list ul .vidio a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; }
        .detail_contain #app .movie-page .videos-photos .videos-photos-list ul .vidio a img {
          width: 80px;
          height: 112px;
          display: block;
          background: none; }
    .detail_contain #app .movie-page .videos-photos .videos-photos-list ul .left-margin {
      margin: 0 8px; }

.detail_contain #app .movie-page .discussion {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  margin-top: -.24rem;
  position: relative; }
  .detail_contain #app .movie-page .discussion .title {
    display: flex;
    justify-content: space-between;
    padding: 13px 18px 14px; }
    .detail_contain #app .movie-page .discussion .title span {
      font-size: 15px;
      color: #333; }
    .detail_contain #app .movie-page .discussion .title article {
      padding: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start; }
      .detail_contain #app .movie-page .discussion .title article .acavter {
        height: 34px;
        width: 34px;
        border-radius: 17px; }
      .detail_contain #app .movie-page .discussion .title article .right {
        margin-left: 11px;
        flex-grow: 1; }
        .detail_contain #app .movie-page .discussion .title article .right .top {
          display: flex;
          justify-content: space-between; }
          .detail_contain #app .movie-page .discussion .title article .right .top .name-box {
            display: flex;
            align-items: center; }
            .detail_contain #app .movie-page .discussion .title article .right .top .name-box div .name {
              font-size: 12px;
              color: #333; }
            .detail_contain #app .movie-page .discussion .title article .right .top .name-box div img {
              width: 31px;
              height: 15px;
              margin-left: 6px; }
      .detail_contain #app .movie-page .discussion .title article .middle {
        margin-top: 5px; }
        .detail_contain #app .movie-page .discussion .title article .middle a {
          text-decoration: none;
          color: inherit; }
  .detail_contain #app .movie-page .discussion .np-padding-top {
    padding-top: 0; }

.detail_contain #app .buy-ticket-btn {
  background-color: #fff;
  height: 60px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  margin: 0;
  bottom: 0;
  left: 0; }
  .detail_contain #app .buy-ticket-btn .buy-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .detail_contain #app .buy-ticket-btn .buy-wrapper img {
      margin-left: 24px;
      margin-right: 30px;
      width: 19px;
      height: 19px; }
    .detail_contain #app .buy-ticket-btn .buy-wrapper .goto-ticket {
      display: block;
      flex: 1;
      height: 44px;
      background-image: linear-gradient(-90deg, #fb3333, #ff5269);
      box-shadow: 0 0.06rem 0.12rem 0 rgba(251, 51, 51, 0.3);
      border-radius: 25px;
      font-size: 17px;
      color: #fff;
      text-align: center;
      line-height: 44px;
      margin: 10px; }

.detail_contain #app .buy-ticket-btn,
.detail_contain #app .toast {
  position: fixed;
  z-index: 10; }
